<% @page_title = "Contact Us" %>
<% @page_description = "New Subject" %>

<div class="pages-wrap">
	<div class="pages-header img">
		<div class="container"><h1>Contact <span>enrG-IV</span></h1></div>
	</div>

	<div class="contact-sec">
		<div class="container">
				<div class="col-md-3">
				<!-- <div class="col-md-6"> -->
					<h4><%= number_to_phone(2512400842, delimiter: '.') %></h4>

					<h4>info@enrgiv.com</h4>

					<h4>3099 Loop Rd<br> Orange Beach, Al 36561</h4>

					<ul class="social">
						<li><%= link_to '/fb' do %> <i class="fa fa-facebook"></i> <% end %></li>
						<li><%= link_to '/insta' do %> <i class="fa fa-instagram"></i> <% end %></li>
					</ul>
				</div>

				<div class="col-md-4">
					<h4><span>Hours of Operation:</span><div class="title-line"></div></h4>

					<h4> Monday - Friday: 10am-6pm<br> Saturday - Sunday: 10am - 3pm</h4>
					<p> <b>Closed Tuesdays<br>After Hours Appointments Available</b></p>
				</div>

			<div class="col-md-4 col-md-offset-1">
			<!-- 	<a data-uk-modal="{center:true}" class="modal3 link-box" href="#appt">
					<div class="inside">
						<h4>Book Your enrG <span>IV Appointment</span></h4>
					</div>
				</a> -->

				<%= link_to '/menu', class: 'link-box' do %>
					<div class="inside">
						<h4>View Our <span>Cocktail Menu</span></h4>
					</div>
				<% end %>

				<%= link_to '/iv-therapy', class: 'link-box' do %>
					<div class="inside">
						<h4>Learn More About <span>IV Therapy</span></h4>
					</div>
				<% end %>
			</div>

		</div>
	</div>
</div>
