<% @page_title = "ENRG IV Bar Orange Beach " %>
<% @page_description = "New Subject" %>

<div class="pages-wrap less">
			<section class="home-hero hero-img">
			  <!-- <div class="over-frame"> -->
			  <div class="title-block">
					<!-- <h3>Optimal Health through Natural Means</h3> -->
					<h3>Optimal Health through Natural Means</h3>
					<h1><%= image_tag('logo-text.png', alt: 'Enrg-IV logo text in white - name only', class: 'img-responsive') %></h1>
			  	<!-- <h1>enrG<br><span>IV</span></h1> -->
					<!-- <h3><span class="blue">IV Lounge.</span> Oxygen Bar. <span class="blue">Functional Medicine.</span></h3> -->
					<h3>IV Lounge. Oxygen Bar. Functional Medicine.</h3>
			  </div>
			</section>

			<div class="faqs-sec">
				<div class="inner">
					<div class="top">
						<hr>
						<p class="sub"><b>enrG IV</b> is a Hydration Med-Spa located in Orange Beach, Alabama.<br> We specialize in <span>IV Vitamin Therapies</span> and other areas of <span>Functional Medicine</span>.</p>
						<hr>
					</div>
					<div class="faq-box title">
						<div class="overlay">
							<h3>IV Vitamin Therapy</h3>
						</div>
					</div>

					<div class="faq-box one">
						<h3>What is it?</h3>
						<p>The process of administering <b>vitamins, minerals, and other nutrients directly into the bloodstream</b>, through an IV drip. It delivers nutrients to cells that need them, and <b>restores balance</b> in the body.</p>
						<p>It is a <b>safe, powerful</b> method that treats, and even resolves, numerous health problems. We provide <b>relief, healing, and recovery through hydration</b>.</p>
					</div>

					<div class="faq-box two">
						<h3>Who Can Use It?</h3>
						<p>IV Therapy is used to <b>treat ailments ranging anywhere from sunburn to chronic illness</b>. However, it is not offered exclusively to those who suffer from a medical condition.</p>
						<p> IV Therapy is a natural way to make you <b>feel better, look better, and recover faster</b>.</p>

						<%= link_to "Learn More", iv_therapy_path, class: 'faq-link' %>
					</div>
			  </div>
				<div class="col-md-8 col-md-offset-2"><h4 class="fancy">We have drips, shots, boosters, wellness packages, and more!</h4></div>
			</div>

			<div class="cta-banner">
				<div class="container">
					<div class="intro">
						<h4>Don't hesitate to hydrate</h4>
						<h3>Book Now!</h3>
						<p>The enrG IV staff includes medical expert​s​ who have been specially trained in IV Vitamin Therapies. They are happy to answer any questions, or provide you with additional information you may need.
						Let our doctors and nurses furnish your ultimate drip experience.</p>
						<div class="cta one"> <span>Call Today:</span><br> <%= number_to_phone(2512400842, delimiter: '.') %></div>
						<a data-uk-modal="{center:true}" class="modal3 cta" href="#appt"><span>Click Now</span> <br>to Book Online</a>
					</div>

					<div class="content">
						<h3>Walk-Ins Welcome!</h3>
						<hr>
						<h4>Hours of Operation:</h4>
						<p>Monday - Friday: <span>10am-6pm</span></p>
						<p>Saturday - Sunday: <span>10am - 3pm</span></p>
						<p>Closed Tuesdays</p>
						<hr>
						<p><b>After Hours Appointments Available</b></p>
					</div>
				</div>
			</div>


				<div class="banner3">
					<div class="top">
						<div class="banner-mid">
							<div class="box">
								<h3>Get The Full</h3>
								<%= image_tag('logo-text.png', alt: 'Enrg-IV logo text - name only', class: 'img-responsive') %>
								<h3>Experience</h3>
							</div>
						</div>
					</div>

					<div class="container">
						<div class="banner-left">
							<div class="iv-box">
								<!-- <%= image_tag('drip1.png', alt: 'Enrg-IV logo text - name only', class: 'img-responsive ivcon') %>  -->
								<p>enrG IV clients undergo brief medical screenings before settling in for drips. Drip sessions typically last 20 - 60 minutes.</p>
							</div>

							<div class="iv-box">
								<p>Our intravenous vitamin and electrolyte cocktails contain only the purest nutrients, such as B-12, amino acids, and enzymes.</p>
							</div>

							<div class="iv-box">
								<p> You can enjoy them while relax or socialize in our lounge, in the comfort of a private room, or at the enrG IV Oxygen Bar.</p>
							</div>

							<div class="iv-box link">
								<%= link_to("More About Our Clinic", enrg_plus_path) %>
							</div>
						</div>

						<div class="banner-right">
							<h4>Why Do You Drip?</h4>
							<div class="clearfix"></div>
								<div class="drip hangover"><p>Hangover Relief</p></div>
								<div class="drip age"><p>Beauty &amp; Anti-aging</p></div>
								<div class="drip health"><p>Health &amp; Wellness</p></div>
								<div class="drip libido"><p>Libido Support</p></div>
								<div class="drip lag"><p>Fatigue &amp; Jet Lag</p></div>
								<div class="drip ath"><p>Athletic Performance</p></div>
								<div class="drip immune"><p>Immune Support</p></div>
								<div class="drip detox"><p>General Detox</p></div>
								<div class="drip full">
									<%= link_to("/menu") do %>
									<p>View Our Full IV Menu</p>
									<% end %>
								</div>
						</div>
					</div>
				</div>
</div>
