<% @page_title = "enrG IV Bar Orange Beach " %>
<% @page_description = "enrG IV is a Vitamin IV Bar & Functional Medicine Clinic located in Orange Beach, Al. Stop by today for some IV therapy, or an appointment with our professional medical staff. Walk-ins welcome!" %>

<div class="pages-wrap less">
	<section class="home-cover">
	  <div class="title-block">
	  	<div class="content">
				<h1><%= image_tag('comp-text.png', alt: 'Enrg-IV site intro text', class: 'img-responsive img-text') %> </h1>
				<h1><%= image_tag('header-text.png', alt: 'Enrg-IV site intro text', class: 'img-responsive img-xs') %> </h1>
				<!-- <%= image_tag('circles-header.png', alt: 'Enrg-IV site intro text', class: 'img-responsive circles') %><h1> enrG </h1> -->
		  	<h2>Vitamin IV Lounge <span>&amp;</span><br>
		  	Functional Medicine Clinic</h2>
		  	<h3>3099 Loop Rd <i class="fa fa-circle"></i> Orange Beach, Alabama<br>(By Winn Dixie)</h3>
		  	<h4>No Copay! Walk-Ins Welcome!</h4>
		  </div>
	</section>

	<div class="banner-top">
		<div class="inner">
			<div class="left-block">
				<h3>Health Through Hydration</h3>
			</div>

			<div class="block2">
				<div class="top-intro">
						<div id="first" class="homepage slider">
	            <div><%= image_tag('enrg-img4b.jpg', alt: 'enrG IV Staff and Interior Image', class: 'img-responsive') %></div>
	            <div><%= image_tag('enrg-img6b.jpg', alt: 'enrG IV Staff and Interior Image', class: 'img-responsive') %></div>
	         	</div>

					<div class="text">
						<h4><b>We Have a Licensed, Professional Medical Staff. </b></h4>
						<!-- No Copays. Walk Ins Welcome! -->
						<p>Relax and rehydrate in the comfort of a private room, or socializing in the lounge, and at the oxygen bar.</p>

					 	<p>Our intravenous vitamin and electrolyte cocktails, "drips," contain only the purest nutrients. Drip sessions typically last 20-60 minutes.</p>
						<p>Clients enjoy our signature enrG cocktails kicked back in luxurious recliners, in front of flatscreen TVs, and surfing the internet.<br>
							<span class="fp">*Some laboratory expenses may be covered by insurance. Others may be out of pocket expenses.</span>
						</p>
					</div>
						<ul class="ch-grid h-menu">
							<li class="link">
								<div class="ch-item alt">
									<div class="ch-info-wrap alt">
										<%= link_to "/menu", class: 'round-link' do %>
											<%= image_tag('menu-circles.png', alt: '', class: 'img-responsive icon') %>
											<h4><span>enrG IV</span><br> Signature Cocktails</h4>
										<% end %>
									</div>
								</div>
							</li>

							<li class="link">
								<div class="ch-item">
									<div class="ch-info-wrap">
										<%= link_to "/menu#membership", class: 'round-link' do %>
											<%= image_tag('menu-circles.png', alt: '', class: 'img-responsive icon') %>
											<h4><span>enrG IV</span><br> Membership<br class="xs"> Plans</h4>
										<% end %>
									</div>
								</div>
							</li>

							<li class="link">
								<div class="ch-item">
									<div class="ch-info-wrap alt2">
										<%= link_to "/enrg-plus", class: 'round-link' do %>
											<%= image_tag('menu-circles.png', alt: '', class: 'img-responsive icon') %>
											<h4><span>enrG+</span><br> Functional Medicine</h4>
										<% end %>
									</div>
								</div>
							</li>
						</ul>
					<!-- </div> -->
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="banner-top">
		<div class="inner">
			<div class="left-block">
				<h3>Health Through Hydration</h3>
			</div>

			<div class="block2">
				<div class="top-intro">
					<%= image_tag('enrg-img4b.jpg', class: 'img-responsive left', alt: '') %>
					<%= image_tag('enrg-img4-mob.jpg', class: 'img-responsive mob', alt: '') %>

					<div class="text">
						<p>Relax and rehydrate in the comfort of a private room, or socializing in the lounge, and at the oxygen bar. <b>Walk-ins and appointments welcome!</b></p>

					 	<p>Our intravenous vitamin and electrolyte cocktails, "drips," contain only the purest nutrients. Drip sessions typically last 20-60 minutes.</p>
						<p>Clients enjoy our signature enrG cocktails kicked back in luxurious recliners, in front of flatscreen TVs, and surfing the internet.</p>
					</div>

					<%= image_tag('enrg-img6b.jpg', class: 'img-responsive right', alt: '') %>
				</div>
			</div>
		</div>
	</div> -->



	<div class="book-banner">
 		<div class="intro">
 			<h4>Don't hesitate to hydrate</h4>
 			<h3>Call Now!<br>
 			<span><%= number_to_phone(2512400842, delimiter: '.', class: 'phone-cta') %></span></h3>
	 	</div>

	<!-- 	<ul class="ch-grid h-menu">
			<li class="link">
				<div class="ch-item alt">
					<div class="ch-info-wrap alt">
						<%= link_to "/menu", class: 'round-link' do %>
							<%= image_tag('menu-circles.png', alt: '', class: 'img-responsive icon') %>
							<h4><span>enrG IV</span><br> Signature Cocktails</h4>
						<% end %>
					</div>
				</div>
			</li>

			<li class="link">
				<div class="ch-item">
					<div class="ch-info-wrap">
						<%= link_to "/menu#membership", class: 'round-link' do %>
							<%= image_tag('menu-circles.png', alt: '', class: 'img-responsive icon') %>
							<h4><span>enrG IV</span><br> Membership<br> Plans</h4>
						<% end %>
					</div>
				</div>
			</li>

			<li class="link">
				<div class="ch-item">
					<div class="ch-info-wrap alt2">
						<%= link_to "/enrg-plus", class: 'round-link' do %>
							<%= image_tag('menu-circles.png', alt: '', class: 'img-responsive icon') %>
							<h4><span>enrG+</span><br> Functional Medicine</h4>
						<% end %>
					</div>
				</div>
			</li>
		</ul> -->
	</div>

	<div class="newsletter">
		<div class="container">
		<%= render 'chimp' %>
		</div>
	</div>

	<div class="faq-alt">
		<div class="md-right">
			<div class="title-box">
				<h3>IV Vitamin Therapy</h3>
			</div>

			<div class="faq-box">
				<h3>What is it?</h3>
				<p>Intravenous (IV) Vitamin Therapy is the process of administering <b>vitamins, minerals, and other nutrients directly into the bloodstream</b>, through an IV drip. It bypasses the digestive system, and delivers the nutrients promptly to the cells where they are needed.</p>
			</div>

			<div class="faq-box right">
				<h3>Why Does it Work?</h3>
				<p>Because it bypasses digestion, <b>intravenous delivery allows nutrients to be completely absorbed,</b> and in most cases, the body requires less to heal. It results in faster, longer lasting relief, as the nutrients work to r<b>ehydrate, dispel toxins, and restore balance</b>.</p>
			</div>

			<div class="faq-box full">
				<h3>Why should I drip?</h3>
				<p>IV Vitamin Therapies effectively provide relief, healing, and recovery for people with health concerns ranging anywhere from dehydration, all the way to chronic illness. <b>Even so, it is not limited only to those who suffer from a medical condition.</b> IV therapy is useful for anyone interested in increasing health and immune functions, boosting energy levels and mood, and enhancing athletic performance. </p>
			</div>
	  </div>

	  <div class="sec2">
			<%= image_tag('enrg-img5.jpg', class: 'img-responsive', alt: '') %>
			<p>The professional medical staff at enrG IV includes experts, who have been specially trained in IV Vitamin Therapies. They are leaders in the industry.</p>
		</div>
	</div>

	</div>
</div>
