<% @page_title = "ENRG IV Bar Orange Beach " %>
<% @page_description = "New Subject" %>

<div class="pages-wrap less">
		<section class="home-hero hero-img">
		  <div class="title-block">
		  	<div class="content">
					<h2 class="top"> Optimal Health</h2>
			  	<h1>enrG IV</h1>
			  	<h2> Through Natural Means</h2>
			  </div>
		  </div>
		</section>

		<div class="banner1">
			<div class="inner">
				<div class="left-block">
					<p class="sub">Hydration Spa &amp;<br> Functional Medicine Clinic </p>
				</div>

				<div class="b1-box one">
					<h4>enrG IV is located in Orange Beach, Al.<br>
					We specialize in <span>IV Vitamin Therapies</span> and other areas of functional medicine.</h4>
				</div>

				<div class="b1-box two">
					<p>
						Clients enjoy our signature enrG cocktails kicked back in luxurious recliners, in front of flatscreen TVs, and surfing the internet. Relax and rehydrate in the comfort of a private room, socializing in the lounge, or at our oxygen bar.
					</p>
				</div>

				<div class="b1-box three">
					<p>
						Our intravenous vitamin and electrolyte cocktails contain only the purest nutrients, such as B-12, amino acids, and enzymes.
						Drip sessions typically last 20 - 60 minutes. Walk ins and appointments welcome!
					 </p>
				</div>
			</div>
		</div>

		<div class="faq-sec">
			<div class="title-box">
			<div class="inside-round">
				<h3>IV Vitamin Therapy</h3>
				<%= link_to "Learn More", iv_therapy_path, class: 'faq-link' %>
			</div>

				<ul class="ch-grid">
					<li>
						<div class="ch-item">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img">
										<h3>IV Vitamin Therapy</h3>
									</div>
									<div class="ch-info-back">
										<%= link_to "Learn More", iv_therapy_path, class: 'faq-link' %>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>

			<div class="md-right">
				<!-- <div class="col-md-7 col-md-offset-1"> -->
				<div class="faq-box">
					<h3>What is it?</h3>
					<p>The process of administering <b>vitamins, minerals, and other nutrients directly into the bloodstream</b>, through an IV drip.</p>
				</div>

				<div class="faq-box right">
					<h3>Is it safe?</h3>
					<p>It is a <b>safe, powerful, and natural</b> method that nurses, and even resolves, numerous health problems.</p>
				</div>

				<div class="faq-box">
					<h3>Who Can Use It?</h3>
					<p>IV Therapy is used to <b>fight ailments ranging anywhere from sunburn to chronic illness</b>. However, it is not offered exclusively to those who suffer from a medical condition.</p>
				</div>

				<div class="faq-box right">
					<h3>Why should I drip?</h3>
					 <p> IV Therapy delivers nutrients to cells that need them, to improve, energize, and <b>restore balance</b> in the body. It provides <b>relief, healing, and recovery through hydration</b>. </p>
				</div>
		  </div>
		</div>

		<div class="book-banner">
			<div class="intro">
				<h4>Don't hesitate to hydrate</h4>
				<h3>Book Now!</h3>

				<div class="col-md-10 col-md-offset-1">
					<p>enrG IV clients undergo brief medical screenings from our team, before settling in for their drips.
						Our staff includes medical expert​s​ who have been specially trained in IV Vitamin Therapies. They are leaders in the industry,  and are happy to answer any questions, or address any concerns you may have. <b>The enrG IV doctors and nurses will give you the ultimate drip experience!</b></p>
				</div>

				<div class="cta one"> <span>Call Today:</span><br> <%= number_to_phone(2512400842, delimiter: '.') %></div>
				<a data-uk-modal="{center:true}" class="modal3 cta" href="#appt"><span>Click Here</span> <br>to Book Online</a>
			</div>
		</div>

		<div class="banner3">
			<div class="top">
				<div class="banner-mid">
					<div class="box">
						<h3>Get The Full</h3>
						<%= image_tag('logo-text.png', alt: 'Enrg-IV logo text - name only', class: 'img-responsive') %>
						<h3>Experience</h3>
					</div>
				</div>
			</div>

			<div class="container-fluid">
				<div class="hd-block"><h4 class="fancy">These are a few of our most popular menu items:</h4></div>
				<ul class="ch-grid h-menu">
					<li>
						<div class="ch-item hangover">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img">
										<h4>Over Indulgence</h4>
										<h3>Never Again</h3>
										<hr>
										<p><span>	<i class="fa fa-tint"></i>B-complex, Zofran</span></p>
									</div>
									<div class="ch-info-back">
										<p>Don't let a night of fun keep you in bed for days after. Visit us for some IV therapy to relieve your hangover symptoms!</p>
									</div>
								</div>
							</div>
						</div>
					</li>

					<li>
						<div class="ch-item fatigue">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img">
										<h4>Fatigue &amp; Jet Lag</h4>
										<h3>Myers Cocktail</h3>
										<hr>
										<p><span>	<i class="fa fa-tint"></i>B-complex, Vitamin C, Magnesium</span></p>
									</div>
									<div class="ch-info-back">
										<p>You can't enjoy our beautiful beaches if your body feels dehydrated and fatigued. enrG IV has the drip that will refill your tank! </p>
									</div>
								</div>
							</div>
						</div>
					</li>

					<li>
						<div class="ch-item flu">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img">
										<h4>Cold &amp; Flu</h4>
										<h3>Get Over It</h3>
										<hr>
										<p><span>	<i class="fa fa-tint"></i>Vitamin C, Zinc, Magnesium</span></p>
									</div>
									<div class="ch-info-back">
										<p>No one wants to feel cold and stuffy at the beach! Come see us, and we'll get your toes back in the sand in no time! </p>
									</div>
								</div>
							</div>
						</div>
					</li>

					<li class="mb-no">
						<div class="ch-item men">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img">
										<h4>Libido Support</h4>
										<h3>I'll Have What She's Having</h3>
										<hr>
										<p><span><i class="fa fa-tint"></i>B-complex, Amino Acids + ask about our secret ingredient</span></p>
									</div>
									<div class="ch-info-back">
										<p>You get it.</p>
									</div>
								</div>
							</div>
						</div>
					</li>

					<li class="link">
						<div class="ch-item alt">
							<div class="ch-info-wrap alt">
								<%= link_to "/menu", class: 'round-link' do %>
									<%= image_tag('menu-circles.png', alt: '', class: 'img-responsive icon') %>
									<h4><span>View Our Full</span><br> IV Menu</h4>
								<% end %>
							</div>
						</div>
					</li>

					<li class="link">
						<div class="ch-item">
							<div class="ch-info-wrap">
								<%= link_to "/menu", class: 'round-link' do %>
									<%= image_tag('menu-circles.png', alt: '', class: 'img-responsive icon') %>
									<h4><span>enrG IV</span><br> Membership</h4>
								<% end %>
							</div>
						</div>
					</li>

					<li class="link">
						<div class="ch-item">
							<div class="ch-info-wrap alt2">
								<%= link_to "/enrg-plus", class: 'round-link' do %>
									<%= image_tag('menu-circles.png', alt: '', class: 'img-responsive icon') %>
									<h4><span>enrG IV</span><br> Clinic</h4>
								<% end %>
							</div>
						</div>
					</li>
				</ul>

				<!-- <div class="banner-right">
					<h4>We'll Drip to That</h4>
					<div class="clearfix"></div>
					<div class="drip hangover"><p>Hangover Relief</p></div>
					<div class="drip age"><p>Beauty &amp; Anti-aging</p></div>
					<div class="drip health"><p>Health &amp; Wellness</p></div>
					<div class="drip libido"><p>Libido Support</p></div>
					<div class="drip lag"><p>Fatigue &amp; Jet Lag</p></div>
					<div class="drip ath"><p>Athletic Performance</p></div>
					<div class="drip immune"><p>Immune Support</p></div>
					<div class="drip detox"><p>General Detox</p></div>
					<div class="drip illness"><p>Chronic Illness</p></div>
					<div class="drip neuro"><p>Neurological Condition</p></div>
				</div> -->
			</div>
		</div>
</div>


<!-- 	<div class="content">
							<h3>Walk-Ins Welcome!</h3>
							<hr>
							<h4>Hours of Operation:</h4>
							<p>Monday - Friday: <span>10am-6pm</span></p>
							<p>Saturday - Sunday: <span>10am - 3pm</span></p>
							<p>Closed Tuesdays</p>
							<hr>
							<p><b>After Hours Appointments Available</b></p>
						</div> -->
