<% @page_title = "ENRG IV Bar Orange Beach " %>
<% @page_description = "New Subject" %>

<div class="pages-wrap less">
		<section class="home-hero hero-img">
		  <div class="title-block">
		  	<div class="top">
					<h2> Optimal Health</h2>
				</div>
		  	<div class="content">
					<!-- <%= image_tag('circles-white.png', alt: 'Enrg-IV logo symbol', class: 'img-responsive circles') %>  -->
			  	<h1>enrG IV</h1>
			  	<h2> Through Natural Means</h2>
			  </div>
		  </div>
		</section>


	<div class="shadow">
		<div class="banner-top">

			<div class="inner">
				<div class="left-block">
					<h3>Vitamin IV <br>&amp;<br> Functional Medicine Clinic <br><span>3099 Loop Rd <i class="fa fa-circle"></i> Orange Beach, Alabama</span></h3>
				</div>

				<ul class="ch-grid h-menu">
					<li class="link">
						<div class="ch-item alt">
							<div class="ch-info-wrap alt">
								<%= link_to "/menu", class: 'round-link' do %>
									<%= image_tag('menu-circles.png', alt: '', class: 'img-responsive icon') %>
									<h4><span>View Our Full</span><br> IV Menu</h4>
								<% end %>
							</div>
						</div>
					</li>

					<li class="link">
						<div class="ch-item">
							<div class="ch-info-wrap">
								<%= link_to "/menu#membership", class: 'round-link' do %>
									<%= image_tag('menu-circles.png', alt: '', class: 'img-responsive icon') %>
									<h4><span>enrG IV</span><br> Membership</h4>
								<% end %>
							</div>
						</div>
					</li>

					<li class="link">
						<div class="ch-item">
							<div class="ch-info-wrap alt2">
								<%= link_to "/enrg-plus", class: 'round-link' do %>
									<%= image_tag('menu-circles.png', alt: '', class: 'img-responsive icon') %>
									<h4><span>enrG+</span><br> Functional Medicine</h4>
								<% end %>
							</div>
						</div>
					</li>
				</ul>
			</div>

			<div class="layout-mainb">
			 	<div class="inner-sub">
				 	<div class="q-row">
				 		<div class="q-box first">
				 			<%= image_tag('bag-iconflow-dk.png', alt: '', class: 'img-responsive qcon') %>
				 			<p>Our professional medical staff includes experts, who have been specially trained in IV Vitamin Therapies. They are leaders in the industry.</p>
				 		</div>

				 		<div class="q-box">
				 			<%= image_tag('bag-iconflow-bl.png', alt: '', class: 'img-responsive qcon') %>
				 		 	<p>Our intravenous vitamin and electrolyte cocktails, "drips," contain only the purest nutrients. Drip sessions typically last 20-60 minutes.</p>
				 		</div>

				 		<div class="q-box">
				 			<%= image_tag('bag-iconflow-comp.png', alt: '', class: 'img-responsive qcon') %>
				 			<p>Clients enjoy our signature enrG cocktails kicked back in luxurious recliners, in front of flatscreen TVs, and surfing the internet.</p>
				 		</div>

				 		<div class="q-box last">
				 			<%= image_tag('bag-iconflow-alt.png', alt: '', class: 'img-responsive qcon') %>
				 			<p>Relax and rehydrate in the comfort of a private room, or socializing in the lounge, and at the oxygen bar. <b>Walk-ins and appointments welcome!</b></p>
				 		</div>
				 	</div>
			 	</div>
			</div>
		</div>
	</div>

	<div class="book-banner">
 		<div class="intro">
 			<h4>Don't hesitate to hydrate</h4>
 			<h3>Call Now!<br>
 			<span><%= number_to_phone(2512400842, delimiter: '.', class: 'phone-cta') %></span></h3>
	 	</div>
	</div>

	<div class="faq-sec ">
		<div class="title-box">
			<div class="inside-round">
				<h3>IV Vitamin Therapy</h3>
			</div>
		</div>

		<div class="md-right">
			<div class="faq-box">
				<h3>What is it?</h3>
				<p>Intravenous (IV) Vitamin Therapy is the process of administering <b>vitamins, minerals, and other nutrients directly into the bloodstream</b>, through an IV drip. It bypasses the digestive system, and delivers the nutrients promptly to the cells where they are needed.</p>
			</div>

			<div class="faq-box right">
				<h3>Why Does it Work?</h3>
				<p>Because it bypasses digestion, <b>intravenous delivery allows nutrients to be completely absorbed,</b> and in most cases, the body requires less to heal. It results in faster, longer lasting relief, as the nutrients work to r<b>ehydrate, dispel toxins, and restore balance</b>.</p>
			</div>

			<div class="faq-box full">
				<h3>Why should I drip?</h3>
				<p>IV Vitamin Therapies effectively provide relief, healing, and recovery for people with health concerns ranging anywhere from dehydration, all the way to chronic illness. <b>Even so, it is not limited only to those who suffer from a medical condition.</b> IV therapy is useful for anyone interested in increasing health and immune functions, boosting energy levels and mood, and enhancing athletic performance. </p>
			</div>
	  </div>
	</div>



	</div>
</div>
