<% @page_title = "ENRG IV Bar Orange Beach " %>
<% @page_description = "New Subject" %>

<section class="home-hero">
	<div class="bg-video gray">
    <%= video_tag "medical-ivs.mp4", width: "100%", height: "100%", autoplay: true, loop: "loop" %>
  </div>

  <div class="over-frame">
  	<h1>en<br>rG<br>IV</h1>
		<h2>Optimal Health through Natural Means</h2>
		<h3><span class="blue">Safe.</span> Powerful. <span class="blue">Innovative.</span></h3>
  </div>
</section>

<div class="faqs-sec">
	<div class="inner">
		<div class="faq-box one">
			<div class="inside">
				<h3>IV Nutrient Therapy</h3>
			</div>
		</div>

		<div class="faq-box two">
			<div class="inside">
				<h3>What is it?</h3>
				<p>IV Nutrient Therapy is the process of administering vitamins, minerals, and other nutrients directly into the bloodstream, intravenously, through an IV drip.</p>

				<p>It is an extremely effective way to deliver nutrients straight to the cells that need them most, allowing you to rehydrate, dispel toxins, and restore balance.</p>
			</div>
		</div>

		<div class="faq-box three">
			<div class="inside">
				<h3>Is it Safe?</h3>
				<p>IV Nutrient Therapy is a safe, powerful, and innovative therapy that supports the resolution of numerous health problems, and takes you beyond the basic requirements to reach maximum vitality.</p>

				<%= image_tag('temp1', class: 'img-responsive image-margin', alt: 'enrG-IV introduction') %>
			</div>
		</div>
  </div>
</div>

<div class="why-sec">
	<div class="left">
		<h3>What Can it Do?</h3>
	</div>

	<div class="right">
		<ul>
			<li><span>Increase</span> Energy Level</li>
    	<li><span>Enhance</span> Immune System</li>
    	<li><span>Hangover Hydration</span></li>
    	<li><span>Weight</span> Management</li>
    	<li><span>Improve</span> Overall Well Being</li>
    	<li><span>Expedite</span> Recovery From Injury or Surgery</li>
		</ul>
	</div>
</div>

<!-- <div class="banner2">
	<div class="inner">
		<div class="banner-left">
			<div class="box">
				<h3>Get The Full</h3>
				<%= image_tag('logo-text.png', alt: 'Enrg-IV logo text - name only', class: 'img-responsive') %>
				<h3>Experience</h3>
			</div>
			<div class="op-box">
			 	<span>Hydration Med-Spa</span><br>
				<span class="pleft-2">IV Lounge</span><br>
			 	<span class="pleft-4">Oxygen Bar</span>
			</div>
		</div>

		<div class="banner-right">
				<div class="col-md-6">
					<div class="text-box">
						<p>Our staff includes medical expert​s​ who have been specially trained in IV Vitamin Therapies, making them fully equipped to provide you with  the ultimate drip experience.</p>
					</div>
				</div>

				<div class="col-md-6">
					<div class="text-box">
						<p>enrG-IV clients undergo brief medical screenings before settling in for their drips. Drip sessions typically last between 20 and 60 minutes.</p>
					</div>
				</div>

					<div class="clearfix"></div>
					<h4>We have drips, shots, boosters, wellness packages, and more!</h4>
					<div class="clearfix"></div>

				<div class="col-md-6">
					<div class="text-box">
						<p>Our intravenous vitamin and electrolyte cocktails contain only the purest nutrients. They are designed to offer relief for an incredible variety of ailments.</p>
					</div>
				</div>

				<div class="col-md-6">
					<div class="text-box">
						<p>enrG-IV clients can enjoy our signature energy cocktails -- made with B-12, amino acids, and enzymes -- while relaxing in our lounge, in the comfort of a private room, or at the oxygen bar.</p>
					</div>
				</div>
		</div>
	</div>
</div> -->

<div class="banner3">
		<div class="top">
			<div class="banner-mid">
				<div class="box">
					<h3>Get The Full</h3>
					<%= image_tag('logo-text.png', alt: 'Enrg-IV logo text - name only', class: 'img-responsive') %>
					<h3>Experience</h3>
				</div>
			</div>
		</div>

	<div class="inner">
		<div class="banner-left">
				<!-- <div class="op-box top">
					<span>Hydration Med-Spa</span><br>
					<span>IV Lounge</span>
				 	<span class="pleft-4">Oxygen Bar</span>
				</div> -->

				<div class="op-box bott">
					<span>No co-pay</span><br>
					<span>no consult fees</span><br>
					<span>no waiting for appointments</span>
				</div>

				<div class="cta">
					<div class="inner">
						<h4>Don't hesitate, hydrate!</h4>
						<%= link_to 'Book Now', root_path, target: '_blank', class: 'book' %>
					</div>
				</div>

				<!-- <div class="op-box bott">
					<span>No co-pay</span>
					<span class="pleft-3">no consult fees</span><br>
					<span>no waiting for appointments</span>
				</div> -->
		</div>

		<div class="banner-right">
					<div class="text-box">
						<p class="bmargin0">Our staff includes medical expert​s​ who have been specially trained in IV Vitamin Therapies, making them fully equipped to provide you with  the ultimate drip experience.</p>
					</div>

					<div class="text-box fr">
						<p>enrG-IV clients undergo brief medical screenings before settling in for their drips. Drip sessions typically last between 20 and 60 minutes.</p>
					</div>

					<div class="clearfix"></div>
					<h4>We have drips, shots, boosters, wellness packages, and more!</h4>
					<div class="clearfix"></div>

					<div class="text-box">
						<p>Our intravenous vitamin and electrolyte cocktails contain only the purest nutrients. They are designed to offer relief for an incredible variety of ailments.</p>
					</div>

					<div class="text-box fr">
						<p class="bmargin0">enrG-IV clients can enjoy our signature energy cocktails -- made with B-12, amino acids, and enzymes -- while relaxing in our lounge, in the comfort of a private room, or at the oxygen bar.</p>
					</div>
		</div>
	</div>
</div>






	<!-- 	<p>Our intravenous vitamin and electrolyte cocktails contain only the purest nutrients. They are designed to offer relief for a wide variety of ailments.</p>
						Our staff includes medical expert​s​ who have been specially trained in IV Vitamin Therapies, making them fully equipped to provide you with the ultimate drip and drip experience.</p>-->

					<!--
						enrG-IV clients undergo brief medical screenings before settling in for their drips
					enrG IV offers “classics” like the Myers’ cocktail (magnesium, calcium, B and C vitamins), developed by a Baltimore doctor in the 1970s to treat issues from sinusitis to fibromyalgia.


					Amino acids can be added to stabilize moods and improve energy.
					Vitamin C IV can be infused simultaneously to encourage collagen formation.
					 -->
