<% @page_title = "ENRG IV Bar Orange Beach " %>
<% @page_description = "New Subject" %>

<div class="pages-wrap less">
			<section class="home-hero hero-img">
				<!-- <div class="bg-video gray">
			    <%= video_tag "medical-ivs.mp4", width: "100%", height: "100%", autoplay: true, loop: "loop" %>
			  </div> -->

			  <div class="over-frame">
			  	<h1>enrG<br>IV</h1>
					<h2>Optimal Health through Natural Means</h2>
					<h3><span class="blue">Safe.</span> Powerful. <span class="blue">Innovative.</span></h3>
			  </div>
			</section>

			<div class="faqs-sec">
				<div class="inner">
					<div class="faq-box one">
						<div class="inside">
							<h3>IV Nutrient Therapy</h3>
						</div>
					</div>

					<div class="faq-box two">
						<div class="inside">
							<h3>What is it?</h3>
							<p>IV Nutrient Therapy is the process of administering vitamins, minerals, and other nutrients directly into the bloodstream, intravenously, through an IV drip.</p>

							<p>It is an extremely effective way to deliver nutrients straight to the cells that need them most, allowing you to rehydrate, dispel toxins, and restore balance.</p>
						</div>
					</div>

					<div class="faq-box three">
						<div class="inside">
							<h3>Is it Safe?</h3>
							<p>IV Nutrient Therapy is a safe, powerful, and innovative therapy that supports the resolution of numerous health problems, and takes you beyond the basic requirements to reach maximum vitality.</p>

							<%= image_tag('temp1', class: 'img-responsive image-margin', alt: 'enrG-IV introduction') %>
						</div>
					</div>
			  </div>
			</div>

			<div class="why-sec">
			<!-- 	<div class="left">
					<h3>What Can it Do?</h3>
				</div> -->

				<div class="top">
					<ul>
						<!-- <li><span>Increase</span> Energy Level</li>
						<li><span>Improve</span> Athletic Performance</li>
			    	<li><span>Enhance</span> Immune System</li>
			    	<li><span>Hangover Hydration</span></li>
			    	<li><span>Weight</span> Management</li>
			    	<li><span>Improve</span> Overall Well Being</li>
			    	<li><span>Expedite</span> Recovery From Injury or Surgery</li>
					</ul> -->

						<li><span>Compromised</span> immune system</li>
						<li><span>Auto</span> immune disorders</li>
						<li><span>Athletic</span> performance</li>
						<li><span>Cancer</span> / detox from radiation or chemotherapy treatments</li>
						<li><span>General</span> detoxification</li>
						<li><span>Neurological</span> conditions</li>
						<li><span>Asthma</span></li>
						<li><span>Diabetes</span></li>
						<li><span>Fibromyalgia</span> symptoms</li>
			    	<li><span>Hangover</span> Recovery</li>
						<li><span>Increase</span> Energy Level</li>
			    	<li><span>Weight</span> Management</li>
			    	<li><span>Improve</span> Overall Well Being</li>
			    	<li><span>Expedite</span> Recovery From Injury or Surgery</li>
					</ul>
				</div>

				<div class="bottom">
					<h3>We Can Help</h3>
				</div>

			</div>

			<div class="banner3">
					<div class="top">
						<div class="banner-mid">
							<div class="box">
								<h3>Get The Full</h3>
								<%= image_tag('logo-text.png', alt: 'Enrg-IV logo text - name only', class: 'img-responsive') %>
								<h3>Experience</h3>
							</div>
						</div>
					</div>

				<div class="inner">
					<div class="banner-left">
							<!-- <div class="op-box top">
								<span>Hydration Med-Spa</span><br>
								<span>IV Lounge</span>
							 	<span class="pleft-4">Oxygen Bar</span>
							</div> -->

							<div class="op-box bott">
								<span>No co-pay</span><br>
								<span>no consult fees</span><br>
								<span>no waiting for appointments</span>
							</div>

							<div class="cta">
								<div class="inner">
									<h4>Don't hesitate, hydrate!</h4>
									<%= link_to 'Book Now', root_path, target: '_blank', class: 'book' %>
								</div>
							</div>

							<!-- <div class="op-box bott">
								<span>No co-pay</span>
								<span class="pleft-3">no consult fees</span><br>
								<span>no waiting for appointments</span>
							</div> -->
					</div>

					<div class="banner-right">
								<div class="text-box">
									<p class="bmargin0">Our staff includes medical expert​s​ who have been specially trained in IV Vitamin Therapies, making them fully equipped to provide you with  the ultimate drip experience.</p>
								</div>

								<div class="text-box fr">
									<p>enrG-IV clients undergo brief medical screenings before settling in for their drips. Drip sessions typically last between 20 and 60 minutes.</p>
								</div>

								<div class="clearfix"></div>
								<h4>We have drips, shots, boosters, wellness packages, and more!</h4>
								<div class="clearfix"></div>

								<div class="text-box">
									<p>Our intravenous vitamin and electrolyte cocktails contain only the purest nutrients. They are designed to offer relief for an incredible variety of ailments.</p>
								</div>

								<div class="text-box fr">
									<p class="bmargin0">enrG-IV clients can enjoy our signature energy cocktails -- made with B-12, amino acids, and enzymes -- while relaxing in our lounge, in the comfort of a private room, or at the oxygen bar.</p>
								</div>
					</div>
				</div>
			</div>




</div>

				<!-- 	<p>Our intravenous vitamin and electrolyte cocktails contain only the purest nutrients. They are designed to offer relief for a wide variety of ailments.</p>
									Our staff includes medical expert​s​ who have been specially trained in IV Vitamin Therapies, making them fully equipped to provide you with the ultimate drip and drip experience.</p>-->

								<!--
									enrG-IV clients undergo brief medical screenings before settling in for their drips
								enrG IV offers “classics” like the Myers’ cocktail (magnesium, calcium, B and C vitamins), developed by a Baltimore doctor in the 1970s to treat issues from sinusitis to fibromyalgia.


								Amino acids can be added to stabilize moods and improve energy.
								Vitamin C IV can be infused simultaneously to encourage collagen formation.
								 -->





<% @page_title = "ENRG IV Bar Orange Beach " %>
<% @page_description = "New Subject" %>
<!-- <iframe src="https://drchrono.com/scheduling/offices/139140" width="650px" height="900px" frameborder="0"></iframe> -->


<% @page_title = "IV Menu" %>
<% @page_description = "New Subject" %>

<!-- <div class="pages-wrap"> -->
	<div class="pages-header blue">
		<div class="container">
			<h1>IV Therapy Menu</h1>
		</div>
	</div>
<!--
IV pricing 149.00
member 99.00
boost shots $25.00 -->

<!-- Amino acids can be added to stabilize moods and improve energy.
Vitamin C IV can be infused simultaneously to encourage collagen formation as well. -->

<!-- ADD ON IV:
Glutathione
enrG B12 Boost
Mega Weight Loss Boost
Mini Weight Loss Boost
Oxygen Bar -->


	<div class="treatment-content">
		<div class="container">
			IV pricing $149.00
			member $99.00
			boost shots $25.00
      <div id="accordeon">
        <div class="cbp-item">
          <div class="cbp-caption first">
						<div class="cbp-caption-defaultWrap">
							<h3>Princess Again</h3>
							<h4>Beauty &amp; Anti-aging</h4>
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-body">
								<p>Wrinkles, blemishes, acne, dry skin, and other signs of premature aging can all be improved with adequate hydration. Topical skin care products are also more effective when your skin is well hydrated from the inside out. At enrG IV we can help turn back time and ensure your skin gets the hydration it needs to look its best</p>
								<p><span><i class="fa fa-tint"></i>	1L normal saline, b-complex, magnesium, vitamin c</span></p>
							</div>
						</div>
					</div>

          <div class="cbp-caption second">
              <div class="cbp-caption-defaultWrap">
								<h3>I FEEEEEEL GOOD</h3>
								<h4>Health &amp; Wellness</h4>
              </div>

              <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
										<p>On average, only 20% of even the best multi-vitamins and supplements are being absorbed into your body when taken orally. Adding a regular regimen of IV nutrient therapy at enrG IV, is a great way to maintain good health and can help prevent dehydration and vitamin-deficiency.</p>
										<p><span>	1L normal saline, vitamin c, b-complex, magnesium, amino acids</span></p>
                  </div>
              </div>
          </div>

          <div class="cbp-caption third">
  			    <div class="cbp-caption-defaultWrap">
  						<h3>Warm &amp; Sunny</h3>
  						<h4>Cold &amp; Flu</h4>
  					</div>
  					<div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-body">
  								<p>It is no surprise that your body needs an increase of fluids when you are feeling under the weather. enrG IV can shorten the duration of an illness. Come visit us at the onset of symptoms or anytime you are not feeling your best.</p>
  								<p><span>	1L normal saline, vitamin c, zinc, magnesium</span></p>
  						</div>
  					</div>
  				</div>

					<div class="cbp-caption fourth">
						<div class="cbp-caption-defaultWrap">
							<h3>Sweet Home Alabama</h3>
							<h4>Jet Lag &amp; Fatigue</h4>
						</div>
						<div class="cbp-caption-activeWrap">
	            <div class="cbp-l-caption-body">
								<p>While traveling, normal habits like sleeping, eating, drinking, and physical activity are altered. In addition, airplanes recirculate air and dehumidify their cabins. One of the first signs of dehydration is fatigue which happens with or without travel. Visit enrG IV to refill your body’s tank.</p>
								<p><span>	1L normal saline, b-complex, vitamin c  *Add a b12 injection for only $20!</span></p>
							</div>
						</div>
					</div>

					<div class="cbp-caption fifth">
					 	<div class="cbp-caption-defaultWrap">
							<h3>Elephant Stomper/Tiger Killer</h3>
							<h4>Athletic Performance</h4>
						</div>
						<div class="cbp-caption-activeWrap">
	            <div class="cbp-l-caption-body">
								<p>Weekend warriors, yogis, and athletes of all kinds use IV therapy to perform better and recover faster. enrG IV’s services are not exclusive to professional or extreme athletes and can be used pre and post activity. Avoid cramping and achieve new personal bests.</p>
								<p><span>	1L normal saline, b-complex, magnesium, amino acids</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>

      <div id="solo">
      	<div class="cbp-item">
					<div class="cbp-caption sixth">
						<div class="cbp-caption-defaultWrap">
							<h3>I'm Never Drinking Again</h3>
							<h4>Over Indulgence</h4>
						</div>
						<div class="cbp-caption-activeWrap">
	            <div class="cbp-l-caption-body">
								<p>We do not encourage the overconsumption of alcohol, but we do know it happens from time to time. Don’t let a night of overindulgence ruin your weekend, vacation, or early meeting the following day. Hangovers can produce headaches, nausea, and diarrhea. The use of IV therapy at enrG IV can eliminate these symptoms and expedite the recovery process.</p>
								<p><span>	1L normal saline, b-complex, Zofran</span></p>
							</div>
						</div>
					</div>

					<div class="cbp-caption seventh">
						<div class="cbp-caption-defaultWrap">
							<h3>The Sky's the Limit</h3>
							<h4>Immune Support</h4>
						</div>
						<div class="cbp-caption-activeWrap">
	            <div class="cbp-l-caption-body">
								<p>This IV may be a boost to your immune system if you suffer from a chronic illness and need some extra support, or are looking for an easy way to enhance your energy, this IV is a great place to start.</p>
								<p><span>It is a comprehensive infusion of some of the key cellular ingredients needed for optimal energy and a healthy immune system. It provides powerful antioxidants such as vitamin C as well as all the B vitamins which rev-up your metabolic processes, enhance energy production, promote neurotransmitter production, and manage methylation.
								Minerals such as zinc, selenium and magnesium are also included due to their crucial role as co-factors (necessary helpers) for hundreds of metabolic reactions throughout the body. They are involved in DNA replication, messaging, immune function, hormone synthesis and energy production to name just a few.</span></p>
							</div>
						</div>
					</div>

					<div class="cbp-caption eighth">
						<div class="cbp-caption-defaultWrap">
							<h3>I’ll have what she’s having</h3>
							<h4>Libido Support for Women</h4>
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-body">
								<p><span>B-complex and Amino Acids</span></p>
							</div>
						</div>
					</div>

					<div class="cbp-caption ninth">
						<div class="cbp-caption-defaultWrap">
							<h3>The all nighter</h3>
							<h4>Libido Support for Men</h4>
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-body">
								<p><span>B-complex and Amino Acids</span></p>
							</div>
						</div>
					</div>

					<div class="cbp-caption tenth">
						<div class="cbp-caption-defaultWrap">
							<h3>Add Glutathione to any IV</h3>
							<h4>Detox, anti-aging</h4>
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-body">
								<p>Glutathione is the “master” antioxidant. It neutralizes free radicals such as superoxide and reactive oxygen species (ROS) like hydroxy radicals, peroxynitrites, and hydroperoxides, all of which are byproducts of oxygen metabolism in the mitochondria.</p>
								<p>Free radicals and ROS can cause damage to DNA, proteins and cell membranes altering their function, causing mutations and may be implicated in chronic illnesses like cancer or heart disease. Glutathione renders these molecules inert, protecting you from their destructive effects.
								Detoxification is another major function of glutathione. GSH attaches to substances like heavy metals and xenobiotics—molecules that need to be excreted—forming “conjugates” that make them easier to be eliminated by the liver via bile and the kidneys via urine.</p>
							</div>
						</div>
					</div>
        </div>
      </div>
    </div>
	</div>

















<% @page_title = "About IV Therapy" %>
<% @page_description = "New Subject" %>

	<div class="pages-wrap">
			<div class="pages-header img">
				<div class="container">
						<!-- <h1>Why IV Therapy Works</h1> -->
						<h1>IV Vitamin Therapy</h1>
				</div>
			</div>

			<!-- <div class="layout-main">
				<div class="inner">
					<div class="left">

						<div class="block1">
							<p>
								It’s been said “Death begins in the colon”.
								If this is true, then bypassing the gut may be the most effective way to promote your health.
							</p>
							<p>Intravenous (IV) vitamin therapy feeds vitamins and minerals directly into the bloodstream through an IV drip, skipping digestion, and delivering them promptly to the cells that need them most.</p>
						</div>

						<div class="block2">
							<p>Intravenous delivery allows nutrients to be fully absorbed, and in most cases, your body requires less to heal. These nutrients rehydrate, dispel toxins, balance the skin, and .</p>
							<hr>
							<h4><span>enrG IV can provide a list of nutrients that help heal the digestive system and other systems.</span></h4>
							<hr>
						</div>
					</div>
				</div>
			</div> -->

			<div class="layout-main">
				<div class="inner">
					<div class="block1">
						<h3>Why Should You Drip?</h3>
						<p>
							If death really does begin in the colon, then bypassing the gut may be the most effective way to promote your health.
							IV Vitamin Therapy accomplishes this, offering relief and recovery for health concerns ranging from fatigue to chronic illness.
						</p>

						<hr>
						<h4><span>Intravenous (IV) vitamin therapy is the process of administering vitamins, minerals, and other nutrients directly into the bloodstream through an IV drip, skipping digestion, and delivering them promptly to the cells that need them most.</span></h4>
						<hr>

						<p>Intravenous delivery allows nutrients to be fully absorbed, and in most cases, your body requires less to heal. It dispenses faster, longer lasting relief, as the nutrients work to rehydrate, dispel toxins, and restore balance.</p>
					</div>

					<!-- <%= image_tag('as-temp1.jpg', class: 'img-responsive block-img1', alt: 'drop of water, enrG IV') %>  -->

					<div class="block2">
						<!-- <div id="acc2">
					  	<div class="cbp-item l1">
						    <div class="cbp-caption first">
									<div class="cbp-caption-defaultWrap"><h4>Auto Immune Disorders</h4></div>
									<div class="cbp-caption-activeWrap">
										<div class="cbp-l-caption-body">
											<p>Allergies and nutritional deficiencies are just a few of the culprits that can suppress the immune system. By intravenously administering high doses of nutrients as well as anti-inflammatory herbs like licorice root we can restore the immune system.</p>
										</div>
									</div>
								</div>

						    <div class="cbp-caption second">
									<div class="cbp-caption-defaultWrap"><h4>Athletes</h4></div>
									<div class="cbp-caption-activeWrap">
										<div class="cbp-l-caption-body">
											<p>Intravenously administered glutamine after a game or training session can speed recovery and restore function to lungs and muscle fibers. In contrast, many athletes are given high doses of Arginine a legally compliant and naturally occurring amino acid that helps the body to produce more growth hormone to prepare for game season.</p>
										</div>
									</div>
								</div>

						    <div class="cbp-caption third">
									<div class="cbp-caption-defaultWrap"><h4>Cancer Patients</h4></div>
									<div class="cbp-caption-activeWrap">
										<div class="cbp-l-caption-body">
											<p>We take a functional approach and work in conjunction with patients that choose chemotherapy and/or radiation to assist with the toxic side effects. We work with patient’s immune system to help with recovery and quality of life.</p>
										</div>
									</div>
								</div>

						    <div class="cbp-caption fourth">
									<div class="cbp-caption-defaultWrap"><h4>Detoxification</h4></div>
									<div class="cbp-caption-activeWrap">
										<div class="cbp-l-caption-body">
											<p>Patients with heavy metal toxicity and fibromyalgia can benefit from intravenous vitamins and minerals. Detox is also a great way to kick start a weight loss program.</p>
										</div>
									</div>
								</div>

						    <div class="cbp-caption fifth">
									<div class="cbp-caption-defaultWrap"><h4>Neurological Condition</h4></div>
									<div class="cbp-caption-activeWrap">
										<div class="cbp-l-caption-body">
												<p>Patients with neurological conditions such as Parkinson’s can benefit drastically from IV therapies that incorporate glutathione. A major intercellular antioxidant which increases dopamine levels and improves motor function.</p>
										</div>
									</div>
								</div>

						    <div class="cbp-caption sixth">
									<div class="cbp-caption-defaultWrap"><h4>Asthma</h4></div>
									<div class="cbp-caption-activeWrap">
										<div class="cbp-l-caption-body">
											<p>Magnesium administered intravenously helps reduce the inflammatory effects of asthma to provide long-term relief. A nebulizer with glutathione and other nutrients may be administered to heal the lungs, as IV therapies work at the blood level.</p>
										</div>
									</div>
								</div>

						    <div class="cbp-caption seventh">
									<div class="cbp-caption-defaultWrap"><h4>Diabetes</h4></div>
									<div class="cbp-caption-activeWrap">
										<div class="cbp-l-caption-body">
											<p>Patients experiencing diabetes-linked neuropathy have had feeling return to limbs and better regulation of insulin with the administration of Alpha Lipoic Acid, a naturally occurring antioxidant.</p>
										</div>
									</div>
								</div>

						    <div class="cbp-caption eighth">
									<div class="cbp-caption-defaultWrap"><h4>Fibromyalgia</h4></div>
									<div class="cbp-caption-activeWrap">
										<div class="cbp-l-caption-body">
											<p>Since fibromyalgia symptoms include severe muscle pain, amino acids are administered intravenously. These are the building blocks for our muscle tissue and therefore help muscles recover more quickly, ultimately reducing the aches and pain associated with Fibromyalgia.</p>
										</div>
									</div>
								</div>
							</div>
						</div> -->

						<h3>Why Drip With Us?</h3>
						<h4>The enrG IV Medical Staff</h4>
						<p>Our team includes medical expert​s​ who have been specially trained in IV Vitamin Therapies. Their unique understanding and advanced knowledge helps our clients find the perfect therapy to fit their needs. enrG IV doctors and nurses are well-equipped to supply you with the ultimate drip experience.</p>

						<h4>The enrG IV Experience</h4>
						<p>enrG IV drips generally last between 20 and 60 minutes. Clients undergo a brief medical screening, then settle in for the mixture of their choice. Our vitamin and electrolyte cocktails contain only the purest nutrients, and can help remedy anything from a sunburn, to a serious health condition. Enjoy our signature energy cocktails -- made with B-12, amino acids, and enzymes -- while relaxing in our lounge, in the comfort of a private room, or at our oxygen bar!</p>
					</div>
				</div>
			</div>


<!-- <h4>Beauty &amp; Anti-aging</h4>
<h4>Health &amp; Wellness</h4>
<h4>Cold &amp; Flu</h4>
<h4>Jet Lag &amp; Fatigue</h4>
<h4>Athletic Performance</h4>
<h4>Hangover Relief</h4>
<h4>Immune Support</h4>
<h4>Libido Support</h4>
<h4>Detox, anti-aging</h4> -->


		<div class="lead">
			<div class="container-fluid">
				<div class="inner">
					<h2>We'll drip to that</h2>
					<!-- <div class="col-md-6 col-md-offset-3"><%= image_tag('as-temp1.jpg', class: 'img-responsive ', alt: 'drop of water, enrG IV') %></div> -->
			 		<p>IV therapies provide relief and healing for people with a wide array of health concerns including:</p>
				</div>
			</div>
		</div>

	<div class="layout-final-sec">
		<div class="content">
			<div class="container">
				<div id="accordeon">
			  	<div class="cbp-item l1">
				    <div class="cbp-caption first">
							<div class="cbp-caption-defaultWrap"><h4>Auto Immune Disorders</h4></div>
							<div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-body">
									<p>Allergies and nutritional deficiencies are just a few of the culprits that can suppress the immune system. By intravenously administering high doses of nutrients as well as anti-inflammatory herbs like licorice root we can restore the immune system.</p>
								</div>
							</div>
						</div>

				    <div class="cbp-caption second">
							<div class="cbp-caption-defaultWrap"><h4>Athletes</h4></div>
							<div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-body">
									<p>Intravenously administered glutamine after a game or training session can speed recovery and restore function to lungs and muscle fibers. In contrast, many athletes are given high doses of Arginine a legally compliant and naturally occurring amino acid that helps the body to produce more growth hormone to prepare for game season.</p>
								</div>
							</div>
						</div>

				    <div class="cbp-caption third">
							<div class="cbp-caption-defaultWrap"><h4>Cancer Patients</h4></div>
							<div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-body">
									<p>We take a functional approach and work in conjunction with patients that choose chemotherapy and/or radiation to assist with the toxic side effects. We work with patient’s immune system to help with recovery and quality of life.</p>
								</div>
							</div>
						</div>

				    <div class="cbp-caption fourth">
							<div class="cbp-caption-defaultWrap"><h4>Detoxification</h4></div>
							<div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-body">
									<p>Patients with heavy metal toxicity and fibromyalgia can benefit from intravenous vitamins and minerals. Detox is also a great way to kick start a weight loss program.</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="solo">
			  	<div class="cbp-item l2">

				    <div class="cbp-caption fifth">
							<div class="cbp-caption-defaultWrap"><h4>Neurological Condition</h4></div>
							<div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-body">
										<p>Patients with neurological conditions such as Parkinson’s can benefit drastically from IV therapies that incorporate glutathione. A major intercellular antioxidant which increases dopamine levels and improves motor function.</p>
								</div>
							</div>
						</div>

				    <div class="cbp-caption sixth">
							<div class="cbp-caption-defaultWrap"><h4>Asthma</h4></div>
							<div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-body">
									<p>Magnesium administered intravenously helps reduce the inflammatory effects of asthma to provide long-term relief. A nebulizer with glutathione and other nutrients may be administered to heal the lungs, as IV therapies work at the blood level.</p>
								</div>
							</div>
						</div>

				    <div class="cbp-caption seventh">
							<div class="cbp-caption-defaultWrap"><h4>Diabetes</h4></div>
							<div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-body">
									<p>Patients experiencing diabetes-linked neuropathy have had feeling return to limbs and better regulation of insulin with the administration of Alpha Lipoic Acid, a naturally occurring antioxidant.</p>
								</div>
							</div>
						</div>

				    <div class="cbp-caption eighth">
							<div class="cbp-caption-defaultWrap"><h4>Fibromyalgia</h4></div>
							<div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-body">
									<p>Since fibromyalgia symptoms include severe muscle pain, amino acids are administered intravenously. These are the building blocks for our muscle tissue and therefore help muscles recover more quickly, ultimately reducing the aches and pain associated with Fibromyalgia.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
				<!-- <%= image_tag('nacl.png', class: 'img-responsive inline', alt: 'drop of water, enrG IV') %>  -->
		</div>
	</div>
</div>
