<footer>
	<div class="top">
		<div class="col-md-6 soc">
			<ul class="social">
				<li class="title">Follow Us:</li>
				<li><%= link_to '/fb' do %> <i class="fa fa-facebook"></i> <% end %></li>
				<li><%= link_to '/insta' do %> <i class="fa fa-instagram"></i> <% end %></li>
			</ul>
		</div>

		<div class="col-md-6 con">
			<ul class="contact">
				<li><%= number_to_phone(2512400842, delimiter: '.') %></li>
				<li>info@enrgiv.com</li>
			</ul>
		</div>
	</div>

	<div class="blue-block">
		<div class="container">
			<ul class="ft-menu">
		    <li class="menu-item"><%= link_to "Home", root_path %></li>
    		<li class="menu-item"><%= link_to "Why IV Therapy Works", root_path %></li>
    		<li class="menu-item"><%= link_to "Our IV Menu", menu_path %></li>
		    <li class="menu-item"><%= link_to "Functional Medicine", enrg_plus_path %></li>
		    <li class="menu-item"><%= link_to "Contact", contact_path %></li>
			</ul>
			<!-- <a href="#" id="offcanvas-toggler" class="ftmenu-nav">Main Menu</a> -->

		  <!-- <div class="ftlogo-block"><%= link_to(image_tag( 'white-logo.png', alt: 'enrG IV Logo', class: 'img-responsive ft-logo'), root_path ) %></div> -->

				<!-- <div class="cta-sec">
			<a data-uk-modal="{center:true}" class="modal3" href="#appt"><h4>Book Now</h4></a>
			</div>-->
		</div>
	</div>

	<div class="bottom">
		<div class="container">
			<p class="loc">3099 Loop Rd <span><i class="fa fa-circle"></i></span> Orange Beach, Al 36561</p>
			<p class="copy">Copyright <%= Time.now.year %>. All rights reserved. <span>Design by <%= link_to "High Seas Design House.", hsdh_path, :target => "_blank" %></span> </p>
		</div>
	</div>
  <a href="#" class="scroll-up">Scroll</a>
</footer>


<%= render 'static_pages/modals' %>

<div class="offcanvas-menu">
    <a class="close-offcanvas" href="#"><i class="fa fa-close"></i></a>
    <div class="offcanvas-inner">
        <div class="module">
            <!-- <h3 class="module-title">Main Menu</h3> -->

            <div class="module-content">
              <ul class="nav menu">
						    <%= render 'layouts/nav' %>
              </ul>
            </div>
        </div>
    </div>
</div>
