<header>
	<div id="nav" class="stick">
		<div class="book-bar">
			<!-- <ul class="social">
				<li><%= link_to '/fb' do %> <i class="fa fa-facebook"></i> <% end %></li>
				<li><%= link_to '/insta' do %> <i class="fa fa-instagram"></i> <% end %></li>
			</ul> -->

			<div class="contact-info">
				<h4><%= number_to_phone(2512400842, delimiter: '.') %></h4>
				<h4><a data-uk-modal="{center:true}" class="modal3" href="#appt">Book Online Now</a></h4>
				<h4 class="wiw">Walk-Ins Welcome</h4>
				<ul class="social">
					<li><%= link_to '/fb' do %> <i class="fa fa-facebook"></i> <% end %></li>
					<li><%= link_to '/insta' do %> <i class="fa fa-instagram"></i> <% end %></li>
				</ul>
			</div>
		</div>
		<div class="container">
			<% unless current_page?(enrg_plus_path) %>
		    <div class="logo-block"><%= link_to(image_tag( 'enrg-logo.png', alt: 'enrG IV Logo', class: 'img-responsive logo'), root_path ) %></div>

		    <% else %>
			    <div class="logo-block"><%= link_to(image_tag( 'nrg-plus.png', alt: 'enrG Plus Logo', class: 'img-responsive logo'), root_path ) %></div>
	    <% end %>
			<nav>
				<ul class="megamenu-parent menu-zoom hidden-xs">
			    <%= render 'layouts/nav' %>
				</ul>
			</nav>

				<div>
			    <a href="#" id="offcanvas-toggler">
			        <span></span>
			        <span></span>
			        <span></span>
			    </a>
			  </div>
		</div>
	</div>
</header>
