<li class="menu-item"><%= link_to "Home", root_path %></li>
<li class="menu-item"><%= link_to "Vita-Menu", menu_path %></li>
<li class="menu-item"><%= link_to "enrG+", enrg_plus_path %></li>
<li class="menu-item noft"><%= link_to "Book Now", root_path %></li>
<li class="menu-item"><%= link_to "Contact", contact_path %></li>
