<li class="menu-item"><%= link_to "Home", root_path %></li>
<li class="menu-item has-child">IV Therapy
	<ul class="dropdown">
		<li class="menu-item"><%= link_to "Why It Works", iv_therapy_path %></li>
		<li class="menu-item"><%= link_to "Our IV Menu", menu_path %></li>
	</ul>
</li>
<li class="menu-item"><%= link_to "enrG+", enrg_plus_path %></li>
<li class="menu-item noft"><a data-uk-modal="{center:true}" class="modal3" href="#appt">Book Now</a></li>
<li class="menu-item"><%= link_to "Contact", contact_path %></li>
