<li class="menu-item"><%= link_to "Home", root_path %></li>
<li class="menu-item"><%= link_to "Vita-Menu", root_path %></li>
<li class="menu-item"><%= link_to "ENRG Nutrients", root_path %></li>
<li class="menu-item noft"><%= link_to "Book Now", root_path %></li>
<li class="menu-item"><%= link_to "Contact", contact_path %></li>
